{{user_navs = True}}
{{extend 'layout.html'}}
<!-- {{left_sidebar_enabled,right_sidebar_enabled=False,True}} 
{{extend 'layout.html'}} -->

<link rel="stylesheet" href="/runestone/static/css/index.css">
<style>
    /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row {
    background-color:rgb(238, 238, 238);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  font: bold 18px Arial;
  text-decoration: none;
  background-color:#116cc2;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-align: center;
  border-radius: 3px;
  padding: 10px
}


</style>

<!-- {{if 'message' in globals():}}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> -->
<!-- 
<h3>{{=message}}</h3> -->

  <!-- <p>
    We're going to now talk to the GitHub API. Ready?
    <a href="https://github.com/login/oauth/authorize?scope=repo&client_id=1d31e6dc6ff88f189241">Click here</a> to begin!</a>
  </p> -->

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h2>New Book Registery</h2>
        <p>
            There are many free and open source textbooks available on Runestone.Academy. 
            However, sometimes these books don't match the content taught in certain classes. 
            This page can be used to create custom textbooks to fit your classes needs.
            To start, log into Github. 
            Then, find the textbook you would like and use the clone button which forks the book into your Github.
            You can use the left hand panel to view the book in its current state and publish it.
        </p>
        <div class="row">
          <div class="column">
            <h4>Available Textbooks</h4>
          
            <div class="searchbar" style="margin-top: 10px; margin-bottom: 20px;">
              <input type="text"  id="searchbar" onkeyup="search_book()" placeholder="Search by topic..">
            </div>
            
            <h4>Textbooks:</h4>
          


          
          </div>    
          <div class="column">
            <h4>My Custom Textbooks</h4>
            <p>Custom books will appear here once cloned</p>
          </div>
        
        
        </div>

      <div style="margin: 10px;">
      <div style="display: inline-block; vertical-align: top;">
        <a href="https://github.com/">
          <img alt="Github Logo" src="../static/images/GitHub.png" >
      </a>
      </div>
      <div style="display:inline-block; margin: 20px;">
        <div>
          <p>
            <a href="https://github.com/login/oauth/authorize?scope=repo&client_id=1d31e6dc6ff88f189241" class="button">Connect to GitHub</a>
          </p>
        </div>

      </div>
    </div>



    </div>
  </div>


<!-- 
{{pass}}

{{block right_sidebar}}

{{end}} -->


